MYSQL_ROOT_PASSWORD=<your_root_password>
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_PASSWORD=<your_nextcloud_password>
MYSQL_HOST=db

TRUSTED_PROXIES=nginx
NEXTCLOUD_TRUSTED_DOMAINS=abc.ddns.net # Replace this with your domain
NOIP_USERNAME=<your_noip_username>
NOIP_PASSWORD=<your_noip_password>
NOIP_HOSTNAMES=all.ddnskey.com
NOIP_CHECK_INTERVAL=5m